* {
  margin: 0;
}

body {
  font-family: open sans;
}


.wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  padding: 0 1rem;
}

header {
  background-color: #033048;
  color: white;
  height: 4rem;
}

.content {
  display: flex;
  padding: 3rem;
}

.drop-cap {
  display: inline;
  font-size: 3rem;
  font-weight: 600;
  float: left;
  padding-top: 0;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  padding-top: 10px;
}

main {
  width: 700px;
}

img {
  padding-top: 20px;
  width: 100%;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.read {
  font-weight: 600;
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
}


h3 {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 800;
}

aside {
  width: 240px;
  padding-left: 20px;
  padding-top: 1rem;
}

aside ul {
  padding-left: 1px;
  padding-top: 5px;
  padding-bottom: 20px;
  line-height: 20px;
  font-size: 13px;
}

aside p {
  padding-top: 5px;
  font-size: 13px;
  line-height: 20px;
}

p.link{
  font-weight: 600;
  padding-top: 0px;
}

.call-to-action {
  width: 100%;
  min-height: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.call-to-action button {
  border: none;
  font-weight: 800;
  font-size: 12px;
  color: white;
  background-color: #033048;
  padding: 12px 0;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 25rem;
  margin: 0 auto;
}

footer h1 {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

footer p {
  font-weight: 600;
  font-size: 9px;
  text-align: center;
}

.image-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

img.left {
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 2rem;
  padding-right: 20px;
}

img.right {
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 0.8rem;
  padding-left: 20px;
}
